*~
/git/gitk
/fish/fishd.kth
/emacs.d/recentf
/emacs.d/ido.last
/emacs.d/history
/emacs.d/elpa/
/emacs.d/backup/
/chromium/
/dconf/
/emacs.d/auto-save-list/
/ssh/id_ed25519
/ssh/id_ed25519.pub
/emacs.d/tramp
/htop/
/systemd/user/default.target.wants/ssh-agent.service
/fish/fish_variables
/emacs.d/eshell/history
/pulse/
/0ad/
/Android Open Source Project/
/GIMP/
/GPSBabel/
/Pd/
/QtProject.conf
/Thunar/
/Trolltech.conf
/VirtualBox/
/abiword/
/cef_user_data/
/emacs.d/.mc-lists.el
/emacs.d/eshell/
/emacs.d/init.el.rej
/emacs.d/init2.el
/enchant/
/environment.d/
/evince/
/falkon/
/fontforge/
/godot/
/gpx-viewer/
/grafx2/
/gtk-2.0/
/inkscape/
/kitty/
/kritadisplayrc
/libreoffice/
/netsurf/
/pcmanfm/
/qalculate/
/qutebrowser/
/tox/
/transmission/
/unity3d/
/vlc/
/xfce4/
/xmoto/
